@import url('https://fonts.googleapis.com/css?family=Skranji');

.background{
	width: 100%;
	position: relative;
	top:0;
	left: 0;
}

.background #blackcoat,.background img{
	width: 100%;
	position: fixed;
	display: block;
}

.background #blackcoat{
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}

.l_content{
	position: relative;
	min-width: 1000px;
	max-width: 1920px;
	height: 700px;
	z-index: 100;
	margin: 0 auto;
}

.l_content .title{
	font-size:30px;
	font-family: "Skranji";
}

.l_content .title img{
	width: 100px;
	height: 100px;
}

.l_content .m-title *{
	display: inline-block;
	height: 100px;
}
.l_content .m-title>h1{
	line-height: 100px;
}

.l_content a{
	padding: 10px;
	display: block;
	position:absolute;
	font-family: Calibri;
	font-size: 30px;
	border: 1px solid white;
}
