@import url('https://fonts.googleapis.com/css?family=Skranji');

.bg{
  background:url("../resources/machu-picchu.jpg");
  background-color: black;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.r-bar{
  position: fixed;
  right: 0;
  top:0;
  height: 100%;
  color:black;
  padding:30px 30px 30px 0;
  background-color: #333;
}
.bookmark{
  background-color: red;
  padding: 10px;
  margin:10px 20px 0 0;
}
.bookmark .b-title{
  font-size: 12px;
}
.main-content{
  margin: 50px 100px;
  width: 1000px;
  overflow: hidden;
  background-color: #ddd;
  position:relative;
}
.main-content .info{
  background-color: #333;
  padding: 10px;
  color:white;
}

.main-content .info .title{
  font-family:"Skranji";
}
.main-content section{
  width: 770px;
  float:left;
  padding: 15px;
}
.main-content aside{
  width: 180px;
  height: 100%;
  float:right;
  background-color: tomato;
}
.main-content aside .title{
  background-color: brown;
  width: 100%;
  padding: 10px;
}
.main-content aside ul{
  list-style: none;
}
.main-content aside ul li{
  width: 100%;
  background-color: #333;
  margin: 5px 0px;
  padding: 5px;
}
.main-content aside ul li a{
  text-decoration: underline;
  color:white;
}
.main-content article .a-title{
  padding: 10px 0px;
  border-bottom: 1px solid black;
  display: block;
}
.main-content article p{
  margin:10px 0;
}
.main-content .footer{
  width: 100%;
  display: block;
  background-color: pink;
  clear:both;
  padding: 10px;
}
.r-bar .close-bookmarks{
  position:absolute;
  right:0;
  top:0;
  line-height: 100vh;
  font-weight: bold;
  color:white;
  border-left: 1px solid deepskyblue;
  height: 100%;
}
.r-bar .close-bookmarks a{
  color:white;
  font-size: 25px;
  display: block;
  width: 100%;
  padding: 10px;
}
.bookmark .b-tumbnail{
  width: 100%;
  height: 50px;
  background-color: black;
}
.bookmark .b-tumbnail{
  width: 100%;
  height: 50px;
  background-color: black;
}
