@import url('https://fonts.googleapis.com/css?family=Skranji');

body{
  background-color: #ddd;
}
/*HEADER*/
header{
  width: 100%;
  background-color: tomato;
  font-family: "Skranji";
}
.container{
  min-width: 1000px;
  max-width: 1000px;
  margin:0 auto;
  border:1px dotted pink;
  overflow: hidden;
}
.logo img{
  width: 100px;
  height: 100px;
}
.logo span{
  color:white;
  display: block;
}

.logo span{
  padding: 10px;
}
.menu{
  background-color: #333;
  width: 100%;
}

.menu ul{
  overflow: hidden;
}
.menu ul li{
  float:left;
  padding: 10px 0;
}
.menu ul li a{
  color:white;
  padding: 0px 15px;
  margin:5px;
  font-size:17px;
  display: block;
  border-right: 1px dotted white;
}

section,aside{
  float:left;
}

section{
  border: 1px dotted blue;
}
aside{
  border:1px dotted red;
}
/*ARTICLE*/
article{
  width: 600px;
  background-color: #fff;
  padding: 20px;
  position:relative;
  margin:20px 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
article .upper div{
  padding: 5px;
  border-top:1px dotted tomato;
  border-bottom:1px dotted tomato;
}
article .lower{
  overflow: hidden;
}
article .lower img{
  width: 150px;
  height: 150px;
  display: block;
  float:left;
}
article .lower p{
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

article .lower .share{
  clear:both;
  width: 100%;
}

article .more{
  position: absolute;
  right: 0;
  bottom: 0;
}

article .more a{
  background-color: tomato;
  padding: 5px;
  display: block;
}

.aside{
  margin:20px;
  width: 316px;
  background-color: tomato;
}

.aside .title{
  background-color: #333;
  padding: 10px;
  color:White;
}
.aside .article-container,.aside .category-container{
  padding: 5px 10px;
}
.aside .article{
  margin:10px auto;
  background-color: rgba(255,255,255,0.5);
}

.aside .category-container li{
  border-bottom: 1px dotted white;
}
