*{
	margin:0;
	padding:0;
}
#root{
	position: relative;
}
a{
	text-decoration: none !important;
}
ul{
	list-style: none;
}

#wait {
	width: 50px !important;
  height: 50px !important;
	line-height: 50px;
  display: block;
  margin: 0 auto;
}
