@import url('https://fonts.googleapis.com/css?family=Skranji');

body{
    background-color: #ddd;
    height: 100%;
    width: 100%;
}


html,#root{
  height: 100%;
  width: 100%;
}
header.container-fluid{
  padding: none !important;
}

.logo{
  padding: 10px;
}
#articles .comments{
  background-color: #fff !important;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

#navbarNavAltMarkup #mp_topics a{
  padding: 10px !important;
}
.single_comment{
  border: 1px solid lightgrey;
  padding: 5px;
  margin-bottom: 10px;
}
.single_comment img{
  width:60px;
  height:60px;
  margin-right: 10px;
  border-right: 1px solid lightgrey;
}
.single_comment span{
  padding: 2px;
  margin-bottom: 5px;
  display: block;
}
.single_comment .body{
  width: 100%;
}
.single_comment p{
  border: 1px solid lightgrey;
  margin: 2px 0px;
  padding: 2px;
  border-radius: 5px;
  text-indent: 5px;
  width: 50%;
}
/*Header*/
header {
    width: 100%;
    font-family: "Skranji";
}

.navbar-toggler i{
  color:white !important;
}
/*Main Content*/
.main-content{
  min-height: 70%;
}

/*Nav*/
.bg-light {
    background-color: #333 !important;
}

.navbar-nav .nav-item {
    font-size: 17px !important;
    padding: 0 15px !important;
}

.footer_form input,.footer_form textarea{
  /* width: 70%; */
}
textarea{
  resize: none;
}

.navbar-nav .nav-item {
    color: white !important;
}

.navbar-nav .active {
    color: gray !important;
    font-weight: 600 !important;
}
/*Article*/

article .upper{
  margin-bottom: 10px;
}

article .upper div {
    padding: 5px;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}

article {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.preview{
    max-height: 350px !important;
    overflow: hidden;
}

article .lower {
    overflow: hidden;
}
article .content, article .content p{
  max-height: 150px;
  overflow-y: hidden;
  text-align: justify;
}

article .lower img {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
}

article .more a {
    padding: 5px 10px;
    border-radius: 0px;
    color:teal !important;
}



/* Aside*/
aside{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
aside.col-md-4{
  padding: 0;
}
.aside {
    width: 100%;
}

.aside .title {
    background-color: #333;
    padding: 10px;
    color: White;
}

.aside .article-container, .aside .category-container {
    padding: 5px 10px;
}

.aside .article {
    margin: 10px auto;
}

.aside .category-container li {
    border-bottom: 1px dotted white;
    list-style: none;
}

.aside .category-container li i{
    color:white;
    padding: 5px;
}

.aside .category-container li a{
    color:white;
    font-size: 18px;
}

.popular .article-container{
  text-align: center;
}
.popular .article-container h3{
  line-height: 100px;
}
.popular .article-container h3 a{
  color: white;
}
.popular .article-container .row{
  padding: 0;
  margin: 0 auto;
}
.popular .article-container .col{
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  height: 100px;
}

.popular .article-container .col span{
  position: absolute;
  top:0;
  right: 0;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
  box-shadow: 0px 1px 1px black;
  padding: 0px 5px 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.popular .article-container img{
  height: 100px;
  width: 100px;
}

/*Footer*/
.page-footer{
    background-color: #333 !important;
    font-family: "Calibri" !important;
    color:white;
}
