html,body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
.menu{
  background-color: #333;
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  width: 240px;
  color:white;
  overflow: hidden;
}
.menu footer a{
  position: absolute;
  bottom:0;
  width:100%;
}
.menu a{
  color:white;
  display: block;
  padding: 20px;
  font-size: 16px;
}
nav{
  margin-top:100px;
}
.content-footer{
  flex: 1 0 auto;
}
footer{
  flex-shrink: 0;
}
footer a{
  color: white;
}
.inner-button{
  background-color: black;
}
.header{
  display: block;
  height:50px;
  width: 200px;
  padding: 0px 20px;
  line-height: 50px;
  float:left;
  background-color: tomato;
}
.left-navbar{
  background-color: teal;
  width: 200px;
  left:0;
  top:0;
  transition: width .5s;
}
.main{
  padding-left: 200px;
  transition: padding .5s;
}
.push{
  padding-left: 50px;
}
.hide-nav{
  width: 50px;
}
#left-navbar ul{
  overflow: hidden;
}
#left-navbar ul>li>a{
  display: block;
  min-width: 200px;
  padding: 10px;
  text-decoration: none;
  color:black;
}
#left-navbar a span{
  color:white;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.fixed{
  position:fixed !important;
  z-index: 10;
}
.inner-button{
  height: 38px;
  background-color: #343A40;
}
.inner-button a{
   display: block;
   margin-left: 15px;
   font-size: 20px;
}

header a{
  color:white;
  display: block;
  height: 50px;
  line-height: 50px;
}
nav a{
  border-top:1px solid #222;
}

.container header{
  position:fixed;
  top:0;
  height: 50px;
  width: 100%;
  background-color: #333;
}

.color1{
  background-color: #eee;
  color:#333;
}

.fullvh{
  height: 100vh;
}

.color2{
  background-color: tomato;
}
